/*-----------------------------------*\
 * style.css
\*-----------------------------------*/

/**
 * copyright 2024 codewithsadee
 */

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  /**
   * COLORS
   */
  --backdrop-background: #000000;
  --reaction-active: #ff4261;

  /* Light theme */
  --primary-light: #39608f;
  --on-primary-light: #ffffff;
  --tertiary-light: #6c5677;
  --on-tertiary-light: #ffffff;
  --background-light: #f8f9ff;
  --on-background-light: #191c20;
  --surface-light: #f8f9ff;
  --surface-container-light: #ecedf4;
  --surface-container-highest-light: #e1e2e8;
  --on-surface-light: #191c20;
  --on-surface-disabled-light: #191c201f;
  --on-surface-disabled-text-light: #191c2061;
  --surface-variant-light: #dfe2eb;
  --on-surface-variant-light: #43474e;
  --outline-light: #73777f;
  --outline-variant-light: #c3c6cf;
  --secondary-container-light: #d7e3f8;
  --on-secondary-container-light: #111c2b;
  --error-light: #ba1a1a;
  --on-error-light: #ffffff;
  --on-error-container-light: #410002;
  --inverse-primary-light: #a3c9fe;
  --inverse-surface-light: #2e3035;
  --inverse-on-surface-light: #eff0f7;

  /* Dark theme */
  --primary-dark: #a3c9fe;
  --on-primary-dark: #00315b;
  --tertiary-dark: #d8bde3;
  --on-tertiary-dark: #3c2947;
  --background-dark: #111418;
  --on-background-dark: #e1e2e8;
  --surface-dark: #111418;
  --surface-container-dark: #1d2024;
  --surface-container-highest-dark: #32353a;
  --on-surface-dark: #e1e2e8;
  --on-surface-disabled-dark: #e1e2e81f;
  --on-surface-disabled-text-dark: #e1e2e861;
  --surface-variant-dark: #43474e;
  --on-surface-variant-dark: #c3c6cf;
  --outline-dark: #8d9199;
  --outline-variant-dark: #43474e;
  --secondary-container-dark: #3c4758;
  --on-secondary-container-dark: #d7e3f8;
  --error-dark: #ffb4ab;
  --on-error-dark: #690005;
  --on-error-container-dark: #ffdad6;
  --inverse-primary-dark: #39608f;
  --inverse-surface-dark: #e1e2e8;
  --inverse-on-surface-dark: #2e3035;

  /**
   * TYPOGRAPHY
   */

  /* Font family */
  --font-primary: "Inter", sans-serif;
  --font-monospace: "Roboto Mono", monospace;

  /* Font size */
  --fs-base: 62.5%;
  --fs-display-large: 5.7rem;
  --fs-display-medium: 4.5rem;
  --fs-display-small: 3.6rem;
  --fs-headline-large: 3.2rem;
  --fs-headline-medium: 2.8rem;
  --fs-headline-small: 2.4rem;
  --fs-title-large: 2.2rem;
  --fs-title-medium: 1.6rem;
  --fs-title-small: 1.4rem;
  --fs-body-large: 1.6rem;
  --fs-body-medium: 1.4rem;
  --fs-body-small: 1.2rem;
  --fs-label-large: 1.4rem;
  --fs-label-medium: 1.2rem;
  --fs-label-small: 1.1rem;

  /* Line height */
  --lh-display-large: 64px;
  --lh-display-medium: 52px;
  --lh-display-small: 44px;
  --lh-headline-large: 40px;
  --lh-headline-medium: 36px;
  --lh-headline-small: 32px;
  --lh-title-large: 28px;
  --lh-title-medium: 24px;
  --lh-title-small: 20px;
  --lh-body-large: 24px;
  --lh-body-medium: 20px;
  --lh-body-small: 16px;
  --lh-label-large: 20px;
  --lh-label-medium: 16px;
  --lh-label-small: 16px;

  /* Font weight */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  /* Letter spacing */
  --ls-n-025: -0.25px;
  --ls-p-010: 0.1px;
  --ls-p-015: 0.15px;
  --ls-p-025: 0.25px;
  --ls-p-040: 0.4px;
  --ls-p-050: 0.5px;

  /**
   * SPACING
   */
  --space-base: 4px;
  --space-05: calc(var(--space-base) * 0.5);
  --space-1: calc(var(--space-base) * 1);
  --space-2: calc(var(--space-base) * 2);
  --space-3: calc(var(--space-base) * 3);
  --space-4: calc(var(--space-base) * 4);
  --space-5: calc(var(--space-base) * 5);
  --space-6: calc(var(--space-base) * 6);
  --space-7: calc(var(--space-base) * 7);
  --space-8: calc(var(--space-base) * 8);
  --space-9: calc(var(--space-base) * 9);
  --space-10: calc(var(--space-base) * 10);
  --space-11: calc(var(--space-base) * 11);
  --space-12: calc(var(--space-base) * 12);
  --space-13: calc(var(--space-base) * 13);
  --space-14: calc(var(--space-base) * 14);
  --space-15: calc(var(--space-base) * 15);
  --space-16: calc(var(--space-base) * 16);
  --space-17: calc(var(--space-base) * 17);
  --space-18: calc(var(--space-base) * 18);
  --space-19: calc(var(--space-base) * 19);
  --space-20: calc(var(--space-base) * 20);

  /**
   * BOX SHADOW
   */
  --shadow-1: 0px 1px 3px 1px #00000026, 0px 1px 2px 0px #0000004d;
  --shadow-2: 0px 2px 6px 2px #00000026, 0px 1px 2px 0px #0000004d;
  --shadow-3: 0px 1px 3px 0px #0000004d, 0px 4px 8px 3px #00000026;
  --shadow-4: 0px 2px 3px 0px #0000004d, 0px 6px 10px 4px #00000026;
  --shadow-5: 0px 4px 4px 0px #0000004d, 0px 8px 12px 6px #00000026;

  /**
   * BORDER RADIUS
   */
  --radius-extra-small: 4px;
  --radius-small: 8px;
  --radius-medium: 12px;
  --radius-large: 16px;
  --radius-extra-large: 28px;
  --radius-full: 1000px;

  /**
   * TRANSITION
   */

  /* Transition duration */
  --tr-duration-short-1: 50ms;
  --tr-duration-short-2: 100ms;
  --tr-duration-short-3: 150ms;
  --tr-duration-short-4: 200ms;
  --tr-duration-medium-1: 250ms;
  --tr-duration-medium-2: 300ms;
  --tr-duration-medium-3: 350ms;
  --tr-duration-medium-4: 400ms;
  --tr-duration-long-1: 450ms;
  --tr-duration-long-2: 500ms;
  --tr-duration-long-3: 550ms;
  --tr-duration-long-4: 600ms;
  --tr-duration-extra-long-1: 700ms;
  --tr-duration-extra-long-2: 800ms;
  --tr-duration-extra-long-3: 900ms;
  --tr-duration-extra-long-4: 1000ms;

  /* Transition easing */
  --tr-easing-linear: cubic-bezier(0, 0, 1, 1);
  --tr-easing-standard: cubic-bezier(0.2, 0, 0, 1);
  --tr-easing-standard-decelerate: cubic-bezier(0, 0, 0, 1);
  --tr-easing-standard-accelerate: cubic-bezier(0.3, 0, 1, 1);
  --tr-easing-emphasized: cubic-bezier(0.2, 0, 0, 1);
  --tr-easing-emphasized-decelerate: cubic-bezier(0.05, 0.7, 0.1, 1);
  --tr-easing-emphasized-accelerate: cubic-bezier(0.3, 0, 0.8, 0.15);

  /**
   * OTHERS
   */
  --top-app-bar-height: calc(var(--space-base) * 16);
  --footer-height: 64px;
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;

    --primary: var(--primary-light);
    --on-primary: var(--on-primary-light);
    --tertiary: var(--tertiary-light);
    --on-tertiary: var(--on-tertiary-light);
    --background: var(--background-light);
    --on-background: var(--on-background-light);
    --surface: var(--surface-light);
    --surface-container: var(--surface-container-light);
    --surface-container-highest: var(--surface-container-highest-light);
    --on-surface: var(--on-surface-light);
    --on-surface-disabled: var(--on-surface-disabled-light);
    --on-surface-disabled-text: var(--on-surface-disabled-text-light);
    --surface-variant: var(--surface-variant-light);
    --outline: var(--outline-light);
    --outline-variant: var(--outline-variant-light);
    --secondary-container: var(--secondary-container-light);
    --on-secondary-container: var(--on-secondary-container-light);
    --error: var(--error-light);
    --on-error: var(--on-error-light);
    --on-error-container: var(--on-error-container-light);
    --inverse-primary: var(--inverse-primary-light);
    --inverse-surface: var(--inverse-surface-light);
    --inverse-on-surface: var(--inverse-on-surface-light);
  }

  .logo .light {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --primary: var(--primary-dark);
    --on-primary: var(--on-primary-dark);
    --tertiary: var(--tertiary-dark);
    --on-tertiary: var(--on-tertiary-dark);
    --background: var(--background-dark);
    --on-background: var(--on-background-dark);
    --surface: var(--surface-dark);
    --surface-container: var(--surface-container-dark);
    --surface-container-highest: var(--surface-container-highest-dark);
    --on-surface: var(--on-surface-dark);
    --on-surface-disabled: var(--on-surface-disabled-dark);
    --on-surface-disabled-text: var(--on-surface-disabled-text-dark);
    --surface-variant: var(--surface-variant-dark);
    --on-surface-variant: var(--on-surface-variant-dark);
    --outline: var(--outline-dark);
    --outline-variant: var(--outline-variant-dark);
    --secondary-container: var(--secondary-container-dark);
    --on-secondary-container: var(--on-secondary-container-dark);
    --error: var(--error-dark);
    --on-error: var(--on-error-dark);
    --on-error-container: var(--on-error-container-dark);
    --inverse-primary: var(--inverse-primary-dark);
    --inverse-surface: var(--inverse-surface-dark);
    --inverse-on-surface: var(--inverse-on-surface-dark);
  }

  .logo .dark {
    display: none;
  }
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
img,
span,
label,
input,
button,
textarea {
  display: block;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

img {
  height: auto;
}

input,
button,
textarea {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
}

input,
textarea,
button {
  outline: none;
  width: 100%;
}

/*-----------------------------------*\
  #BASE
\*-----------------------------------*/
html {
  scroll-behavior: smooth;
  font-size: var(--fs-base);
}
body {
  background: var(--background);
  color: var(--on-background);
  font-family: var(--font-primary);
  font-size: var(--fs-body-medium);
  line-height: var(--lh-body-medium);
  min-height: 100vh;
  min-height: 100dvh;
}
input {
  caret-color: var(--primary);
}
input[type="file"] {
  display: none;
}
button {
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: var(--secondary-container);
}
::-webkit-scrollbar-thumb {
  background-color: var(--outline);
  border-radius: var(--radius-full);
}
/*-----------------------------------*\
  * TYPOGRAPHY
\*-----------------------------------*/

.display-large {
  font-size: var(--fs-display-large);
  font-weight: var(--fw-regular);
  line-height: var(--lh-display-large);
  letter-spacing: var(--ls-n-025);
}

.display-medium {
  font-size: var(--fs-display-medium);
  font-weight: var(--fw-regular);
  line-height: var(--lh-display-medium);
}

.display-small {
  font-size: var(--fs-display-small);
  font-weight: var(--fw-regular);
  line-height: var(--lh-display-small);
}

.content-markdown h1,
.headline-large {
  font-size: var(--fs-headline-large);
  font-weight: var(--fw-regular);
  line-height: var(--lh-headline-large);
}

.content-markdown h2,
.headline-medium {
  font-size: var(--fs-headline-medium);
  font-weight: var(--weight-regular);
  line-height: var(--lh-headline-medium);
}

.content-markdown h3,
.headline-small {
  font-size: var(--fs-headline-small);
  font-weight: var(--weight-regular);
  line-height: var(--lh-headline-small);
}

.content-markdown h4,
.title-large {
  font-size: var(--fs-title-large);
  font-weight: var(--fw-regular);
  line-height: var(--lh-title-large);
}

.content-markdown h5,
.title-medium {
  font-size: var(--fs-title-medium);
  font-weight: var(--fw-medium);
  line-height: var(--lh-title-medium);
  letter-spacing: var(--ls-p-015);
}

.content-markdown h6,
.title-small {
  font-size: var(--fs-title-small);
  font-weight: var(--fw-medium);
  line-height: var(--lh-title-small);
  letter-spacing: var(--ls-p-010);
}

.content-markdown,
.body-large {
  font-size: var(--fs-body-large);
  font-weight: var(--fw-regular);
  line-height: var(--lh-body-large);
  letter-spacing: var(--ls-p-050);
}

.body-medium {
  font-size: var(--fs-body-medium);
  font-weight: var(--fw-regular);
  line-height: var(--lh-body-medium);
  letter-spacing: var(--ls-p-025);
}

.body-small {
  font-size: var(--fs-body-small);
  font-weight: var(--fw-regular);
  line-height: var(--lh-body-small);
  letter-spacing: var(--ls-p-040);
}

.label-large {
  font-size: var(--fs-label-large);
  font-weight: var(--fw-medium);
  line-height: var(--lh-label-medium);
  letter-spacing: var(--ls-p-010);
}

.label-medium {
  font-size: var(--fs-label-medium);
  font-weight: var(--fw-medium);
  line-height: var(--lh-label-medium);
  letter-spacing: var(--ls-p-050);
}

.label-small {
  font-size: var(--fs-label-small);
  font-weight: var(--fw-medium);
  line-height: var(--lh-label-small);
  letter-spacing: var(--ls-p-050);
}

/*-----------------------------------*\
  * UTILITIES
\*-----------------------------------*/
.text-on-surface-variant {
  color: var(--on-surface-variant);
}
.text-primary {
  color: var(--primary);
}

/*-----------------------------------*\
  * REUSED STYLE
\*-----------------------------------*/
.container {
  padding-inline: var(--space-4);
}
:has(> .state-layer) {
  position: relative;
  overflow: hidden;
  isolation: isolate;
}
.state-layer {
  position: absolute;
  inset: 0;
  background-color: var(--state-layer-bg);
  opacity: 0;
  transition: opacity var(--tr-duration-short-2) var(--tr-easing-standard);
  z-index: -1;
}
:has(> .state-layer):hover .state-layer {
  opacity: 0.08;
}
:has(> .state-layer):where(:focus, :focus-visible) > .state-layer {
  opacity: 0.1;
}

/*-----------------------------------*\
  * COMPONENTS
\*-----------------------------------*/

/* 
* Text field
*/
.text-field-wrapper {
  position: relative;
  height: 56px;
  border-radius: var(--radius-extra-small);
  box-shadow: inset 0 0 0 1px var(--outline);
  background-color: var(--background);
  transition: box-shadow var(--tr-duration-short-4) var(--tr-easing-standard);
}
.text-field-wrapper:hover {
  box-shadow: inset 0 0 0 1px var(--on-surface);
}
.text-field-wrapper:focus-within {
  box-shadow: inset 0 0 0 2px var(--on-primary);
}
.text-field-wrapper.error {
  box-shadow: inset 0 0 0 1px var(--error);
}
.text-field-wrapper.error:hover {
  box-shadow: inset 0 0 0 1px var(--on-error-container);
}
.text-field-wrapper.error:focus-within {
  box-shadow: inset 0 0 0 2px var(--error);
}
.label {
  position: absolute;
  top: 50%;
  left: var(--space-2);
  translate: 0 -50%;
  color: var(--on-surface) --outline-variant;
  background-color: inherit;
  padding-inline: var(--space-2);
  transform-origin: center left;
  transition: var(--tr-duration-short-4) var(--tr-easing-standard);
  transition-property: color, translate, scale;
  pointer-events: none;
  user-select: none;
}
.text-field-wrapper:hover .label {
  color: var(--on-surface);
}
.text-field-wrapper.error:hover .label {
  color: var(--on-error-container);
}
.text-field-wrapper:focus-within .label,
.text-field-wrapper:has(.text-field:not(:placeholder-shown)) .label {
  translate: 2px -40px;
  scale: 0.75;
  color: var(--primary);
}
.text-field-wrapper.error .label {
  color: var(--error);
}
.text-field {
  height: inherit;
  color: var(--on-surface);
  padding-inline: var(--space-4);
}

.text-field-wrapper.error .text-field {
  caret-color: var(--error);
}
.text-field-wrapper.error:hover .text-field {
  caret-color: var(--on-error-container);
}

/* 
 * Common button
*/
.btn {
  height: 40px;
  max-width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-2);
  border-radius: var(--radius-full);
  padding-inline: var(--space-6);
  cursor: pointer;
  transition: box-shadow var(--tr-duration-short-2) var(--tr-easing-standard);
}
.btn-fill {
  background-color: var(--primary);
  color: var(--on-primary);
  --state-layer-bg: var(--on-primary);
}
.btn-fill:hover:not(:focus, [disabled]) {
  box-shadow: var(--shadow-1);
}
:is(.btn-fill)[disabled] {
  background-color: var(--on-surface-disabled);
  color: var(--on-surface-disabled-text);
  pointer-events: none;
  user-select: none;
}

/*-----------------------------------*\
  * REGISTER & LOGIN PAGE
\*-----------------------------------*/

.form-section {
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  align-items: center;
}
.form-card {
  max-width: 440px;
  margin-inline: auto;
  padding-inline: var(--space-6);
}
.form-card .card-header {
  text-align: center;
}
.form-card .logo {
  max-width: 200px;
  height: 40px;
  margin-inline: auto;
  margin-block-end: var(--space-3);
}
.form-card .form {
  display: grid;
  gap: var(--space-3);
  margin-block: var(--space-8);
}
.form-card .card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-1);
}
.form-card .btn {
  max-width: 100%;
}

/*-----------------------------------*\
  * responsive for learger device
\*-----------------------------------*/

@media (min-width: 768px) {
  /*-----------------------------------*\
  * COMPONENTS
\*-----------------------------------*/

  /* 
 * Text field
*/
  .text-field-wrapper {
    background-color: var(--surface-container);
  }

  /*-----------------------------------*\
  * REGISTER & LOGIN PAGE
\*-----------------------------------*/

  .form-card {
    padding: var(--space-10);
    border-radius: var(--radius-medium);
    background-color: var(--surface-container);
  }
  .form-card .logo {
    margin-block-end: var(--space-2);
  }
  .form-card .form {
    margin-block: var(--space-6);
  }
}
