<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head",{title:"Blog Details | MindScribe"}) %>

    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Inconsolata:wght@200..900&family=Inter:ital,opsz@0,14..32;1,14..32&family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />
    <script src="/js/script.js" defer></script>
    
  </head>
  <body>
    <!-- 
     * TOP APP BAR
    -->
    <%- include("../partials/topAppBar") %>
    <div class="">Hello</div>

    <%- include("../partials/footer") %>
  </body>
</html>
