<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head",{title:"Home | MindScribe"}) %>
    <script src="./js/script.js" defer></script>
  </head>
  <body>
    <!-- 
     * TOP APP BAR
    -->
     <%- include("../partials/topAppBar") %>

     
    <div class="main"></div>

      <!-- 
       * Footer
      -->
      <%- include("../partials/footer") %>
  </body>
</html>
