<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head",{title:"Home | MindScribe"}) %>
    <script src="./js/script.js" defer></script>
  </head>
  <body>
    <!-- 
     * TOP APP BAR
    -->
    <%- include("../partials/topAppBar") %>

    <div class="main">
      <article class="page home-page">
        <div class="container">
          <h2 class="headline-small page-title text-on-surface">Latest blogs</h2>

          <div class="blog-list">
            <% if(latestBlog.length > 0) {%>
              <% latestBlog.forEach(blog=>{  %>
                 <%- include("../partials/card",{blog}) %>
              <% }) %>
            <% } %>
          </div>
        </div>
      </article>
    </div>

    <!-- 
       * Footer
      -->
    <%- include("../partials/footer") %>
  </body>
</html>
