<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs",{title:"Register | MindScribe"}) %>
    <script type="module" src="/js/register.js"></script>
  </head>
  <body>
    <div class="section form-section">
      <div class="container">
        <div class="form-card">
          <div class="card-header">
            <a href="/" class="logo"
              ><img
                src="./images/logo-light.svg"
                alt="MindScribe"
                class="light" />
              <img src="./images/logo-dark.svg" alt="MindScribe" class="dark"
            /></a>
            <p class="body-large text-on-surface-variant">
              Join on MindScribe community
            </p>
          </div>
          <form action="" class="form" data-form>
            <div class="text-field-wrapper">
              <label for="name" class="body-large label"> Full Name </label>
              <input
                type="text"
                name="name"
                id="name"
                autocomplete="name"
                autofocus
                placeholder=" "
                required
                class="body-large text-field"
              />
            </div>
            <div class="text-field-wrapper">
              <label for="email" class="body-large label"> Email </label>
              <input
                type="email"
                name="email"
                id="email"
                autocomplete="email"
                autofocus
                placeholder=" "
                required
                class="body-large text-field"
              />
            </div>
            <div class="text-field-wrapper">
              <label for="password" class="body-large label"> Password </label>
              <input
                type="password"
                name="password"
                id="password"
                autocomplete="password"
                minlength="8"
                autofocus
                placeholder=" "
                required
                class="body-large text-field"
              />
            </div>
            <div class="text-field-wrapper">
              <label for="confirm_password" class="body-large label"
                >Confirm Password
              </label>
              <input
                type="password"
                name="confirm_password"
                id="confirm_password"
                autocomplete="confirm_password"
                minlength="8"
                autofocus
                placeholder=" "
                required
                class="body-large text-field"
              />
            </div>
            <button type="submit" class="btn btn-fill" data-submit-btn>
              <p class="label-large">Sign Up</p>
              <div class="state-layer"></div>
            </button>
          </form>
          <div class="card-footer">
            <p class="label-large">Already have an account?</p>
            <a href="/login" class="label-large text-primary">Sign in</a>
          </div>
        </div>
      </div>
    </div>
    <div class="snackbar-wrapper" data-snackbar-wrapper>
      
    </div>
  </body>
</html>
